<mat-toolbar color="primary">
  <span>Google Maps con Angular y Material Design</span>
</mat-toolbar>
<div class="container-principal">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a> <br> <br>
  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
</div>